<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <img src = '/images/logo-mercado-liebre.svg'>
        <h2>Lugar para poner la barra de búsqueda</h2>
        <h2>Comprá en cuotas y sin tarjeta de crédito</h2>
   

            <ul type ="circle">
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul type ="circle">
                <li>Creá tu cuenta</li>
                <li>Ingresá</li>
                <li>Mis compras</li>
            </ul>

    </header>

    <main>
        <section>
            <img src = './images/img-home-banner.jpg'>
            <h2>Basado en tu última visita</h2> 
                
                <lu>
                    <img src = '/images/img-cafetera-moulinex.jpg'>
                    <li>$6.770</li>
                    <li>40% OFF</li>
                    <li>Cafetera Moulinex</li>
                </lu><br>
                   <lu>
                    <img src = '/images/img-macbook-pro-2019.jpg'>
                    <li>$230.000</li>
                    <li>20% off</li>
                    <li>MacBook Pro 2019</li>
                </lu><br>
                <lu>
                    <img src = '/images/img-samsung-galaxy-s10.jpg'>
                    <li>$70.500</li>
                    <li>10% OFF</li>
                    <li>Samsung Galaxy S10</li>
                </lu>

        </section>

        <section>
            <h2>Ofertas</h2>
            <lu>
                <img src = '/images/img-cafetera-moulinex.jpg'>
                <li>$6.770</li>
                <li>40% OFF</li>
                <li>Cafetera Moulinex</li>
            </lu><br>
               <lu>
                <img src = '/images/img-macbook-pro-2019.jpg'>
                <li>$230.000</li>
                <li>20% off</li>
                <li>MacBook Pro 2019</li>
            </lu><br>
            <lu>
                <img src = '/images/img-samsung-galaxy-s10.jpg'>
                <li>$70.500</li>
                <li>10% OFF</li>
                <li>Samsung Galaxy S10</li>
            </lu>
        </section>

    </main>
        
    <footer>
        <section>
            <lu>
                <li> Pagá con tarjeta o en efectivo</li>
                <p>Con Mercado Liebre Cash,
                   tenés cuotas sin interés
                   con tarjeta o efectivo en
                   puntos de pago. ¡Y siempre
                   es seguro!</p>
                <li> Envío gratis desde $ 2.500</li>
                <li> Seguridad, de principio a fin</li>
                <li>Copyright © 1999-2020 MercadoLiebre S.R.L.</li>

    
            </lu>
        </section>
        <section>

        </section>
    </footer>
    
</body>
</html>